{%extends "base.html"%}

{%block title%}Home Page{%endblock%}




{%block content%}
<div class="container-fluid p-0">
    <div class="row g-0 align-items-center">
        <div class="col-12 col-md-6 vh-50 vh-lg-100 p-0">
            <img src="../static/images/trek_image.png" class="img-fluid w-100 h-100 object-fit-cover" alt="Trekker Image">
        </div>

        <div class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-center text-center vh-50 vh-lg-100 bg-trekkle-accent p-4">
            <h1 class="content mb-4">Discover the beyond!!</h1>
            {% if user.is_authenticated %}
                <a href="{{ url_for('dashboard') }}" class="btn btn-trekkle-primary btn-lg" role="button">Go to dashboard</a>
            {% else %}
                <a href="{{ url_for('register') }}" class="btn btn-trekkle-primary btn-lg" role="button">Sign Up</a>
            {% endif %}
        </div>
    </div>
</div>

    <div class="row align-items-center">

        <div class="col  d-flex flex-column justify-content-center align-items-center text-center min-vh-10 bg-trekkle-accent">
            <h1 class="content align-items-center py-2 mt-2" id="about"><strong>Who We Are</strong> </h1>
            <p class="fs-4">
                Trekkle didn’t start in a boardroom; it was born on a windswept mountain pass, fueled by a thermos of hot tea and a shared realization.
            </p>
            <p class="fs-4">
                As lifelong trekkers, our founders noticed a glaring gap in the adventure world. You either had to plan everything yourself—navigating confusing permits, unpredictable logistics, and safety risks—or sign up with rigid, mass-tourism agencies that stripped the raw magic out of the mountains.
            </p>
            <p class="fs-4">
                We believed there had to be a better way to connect restless souls with the world’s most breathtaking peaks. So, we built <strong>Trekkle</strong>.
            </p>
            <p class="fs-4">
                <strong>Our Mission: </strong>To democratize world-class trekking by blending rugged adventure with seamless, modern management. We handle the chaos so you can experience the awe.
            </p>

        </div>
    </div>
</div>
{%endblock%}